<!-- <h4>Tarefa - Exercicio 3</h4> -->
<!-- <app-favorito [isFavoritado]="post.isFavoritado" (change)="aoMudarFavoritando($event)"></app-favorito> -->
<!-- <app-painel-bootstrap>

    <ng-container class="cabecalho">Título sobreescrito</ng-container>

    <div class="conteudo">
        <h2>Conteudo</h2>
        <p>Conteudo sobreescrito no componente</p>
    </div>
</app-painel-bootstrap> -->
<!-- <app-tweet [setupTweet]="setup"></app-tweet> -->
<!-- <diretivas></diretivas> -->
<!-- <zippy [titulo]="'Cadastro'" [prefixoDoComponente]="'cadastro'">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
    nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
    labore sustainable VHS.
</zippy>
<zippy [titulo]="'Listagem'" [prefixoDoComponente]="'listagem'">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
    nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
    labore sustainable VHS.
</zippy> -->
<!-- <contato-form></contato-form> -->
<!-- <curso-form></curso-form> -->
<!-- <login></login> -->
<!-- <novo-curso-form></novo-curso-form> -->
<atualizar-senha></atualizar-senha>
