<div class="box box-info" style="width: 600px; margin: 5% auto">

  <div class="box-header with-border">
    <h3 class="box-title">Atualizar Senha</h3>
  </div>

  <form class="form-horizontal" [formGroup]="frmAtualizarSenha" (ngSubmit)="atualizarSenha()">

    <div class="box-body">

      <div class="form-group" style="margin: 1px; margin-bottom: 15px;">
        <label for="senhaAntiga">Senha Antiga</label>
        <input class="form-control" id="senhaAntiga" placeholder="Senha Antiga" 
            type="password" formControlName="senhaAntiga">
        <div *ngIf="senhaAntiga.touched && senhaAntiga.invalid" class="alert alert-danger">
          <p *ngIf="senhaAntiga.errors.required">A 'Senha Antiga' é obrigatória</p>
        </div>
      </div>

      <div class="form-group" style="margin: 1px; margin-bottom: 15px;">
        <label for="senhaNova">Senha Nova</label>
        <input class="form-control" id="senhaNova" placeholder="Senha Nova" 
            type="password" formControlName="senhaNova">
        <div *ngIf="senhaNova.touched && senhaNova.invalid" class="alert alert-danger">          
          <p *ngIf="senhaNova.errors.required">A 'Senha Nova' é obrigatória</p>
        </div>    
      </div>

      <div class="form-group" style="margin: 1px;">
        <label for="senhaConfirmada">Confirmação da Senha</label>
        <input class="form-control" id="senhaConfirmada" placeholder="Confirmar Nova Senha" 
            type="password" formControlName="senhaConfirmada">
        <div *ngIf="senhaConfirmada.touched && senhaConfirmada.invalid" class="alert alert-danger">        
          <p *ngIf="senhaConfirmada.errors.required">A 'Confirmação da Senha' é obrigatória</p>
        </div>    
      </div>
        
    </div>

    <div class="box-footer">
      <button class="btn btn-default">Cancelar</button>
      <button class="btn btn-primary pull-right">Alterar Senha</button>
    </div>

  </form>

</div>
