/* You can add global styles to this file, and also import other style files */
/*@import "~bootstrap/dist/css/bootstrap.css";*/

body{
    margin: 20px;
    background-color: #d2d6de;
}

.form-control.ng-touched.ng-invalid{
    border: 1px solid red;
}

.alert{
    padding: 6px;
    margin-bottom: 5px;
    border: 1px solid transparent;
}